<header><h1>InDesign API documentation</h1><div class="info"><p>A <a href="http://yearbookmachine.com">Yearbook Machine</a> project.</p></div></header><section><p>We at Yearbook Machine make extensive use of the InDesign API on a dailyb
basis, but found the documentation system difficult to deal with. This is
our solution to the problem. An attempt at making the InDesign API
documentation more accessible and easier to use than the native Object
Model Viewer.</p>

<p>Feel free to <a href="http://yearbookmachine.github.io/indesign">browse the documentation online</a>,
<a href="http://yearbookmachine.github.io/indesign/ybm-indesign-docs.zip">download a copy</a> to host yourself,
or even help us out over on <a href="https://github.com/yearbookmachine/indesign-api-documentation">GitHub</a>.</p></section><hr/>